<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826246762900-bm22gso21e3tev8jhknu21s935vmj83p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826246762900-bm22gso21e3tev8jhknu21s935vmj83p</string>
	<key>API_KEY</key>
	<string>AIzaSyCE-WCKAfxqWXhCtSZ2jD3T12wH-4RqZfo</string>
	<key>GCM_SENDER_ID</key>
	<string>826246762900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>message</string>
	<key>PROJECT_ID</key>
	<string>messanger-d9866</string>
	<key>STORAGE_BUCKET</key>
	<string>messanger-d9866.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:826246762900:ios:3bf59d62f52e397b33bf81</string>
    <key>CFBundleURLTypes</key>
    <array>
       <dict>
       <key>CFBundleURLSchemes</key>
       <array>
          <string>fb000000000000000</string>
       </array>
       </dict>
    </array>
    <key>FacebookAppID</key>
    <string>703468760979275</string>
    <key>FacebookDisplayName</key>
    <string>AuthAppDemo</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>fbapi</string>
        <string>fb-messenger-share-api</string>
        <string>fbauth2</string>
        <string>fbshareextension</string>
    </array>
</dict>
</plist>

